.home {
    text-align: center;
}

.home .App-header {
    background-color: #1f1f1f;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}
