.button {
    padding: 8px 12px 8px 8px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #282c34;
    color: #21a1f1;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button.delete {
    background-color: #d32f2f;
    color: white;
}

a.button {
    text-decoration: none;
}

.button:hover {
    background-color: #3a3f47;
}

