.select-dark__control {
    background-color: #1f1f1f !important;
}

.select-dark__control:hover {
    border-color: #555 !important;
}

.select-dark__input {
    color: #fff !important;
}

.select-dark__placeholder {
    color: #aaa !important;
}

.select-dark__single-value {
    color: #fff !important;
}

.select-dark__menu {
    background-color: #333 !important;
}

.select-dark__option {
    background-color: #333 !important;
    color: #fff !important;
}

.select-dark__option--is-focused {
    background-color: #444 !important;
}

.select-dark__option--is-selected {
    background-color: #555 !important;
}

.select-dark__multi-value {
    background-color: #555 !important;
    color: #fff !important;
}

.select-dark__multi-value__label {
    color: #fff !important;
}

.select-dark__multi-value__remove:hover {
    background-color: #444 !important;
    color: #fff !important;
}
