.container {
    text-align: left;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    position: relative;
    color: #21a1f1;
    margin-bottom: 20px;
    margin-top: 20px;
}
