@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #1f1f1f;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

.App-title {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
  color: #21a1f1;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.language-selector {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  gap: 10px;
}

.language-selector button {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #282c34;
  color: #21a1f1;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.language-selector button:hover {
  background-color: #3a3f47;
}

.language-selector button.active {
  background-color: #1b7fbd;
  transform: scale(1.05);
}

main {
  padding: 20px;
}
