.item-input-container {
    display: flex;
    justify-content: center;
}

.item-input {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.item-input input[type="text"] {
    padding: 10px;
    width: calc(100% - 40px);
    max-width: 600px;
    font-size: 16px;
    background-color: #282c34;
    border: 1px solid #21a1f1;
    border-radius: 4px 0 0 4px;
    color: #e0e0e0;
    border-right: none;
}

.item-input button {
    width: 40px;
    padding: 0;
    border: none;
    background-color: #21a1f1;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.item-input button:hover {
    background-color: #1b7fbd;
    transform: scale(1.05);
}

.item-input button:focus {
    outline: none;
}

.item-input button svg {
    fill: #121212;
    width: 20px;
    height: 20px;
}
