.item-list {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.item-list ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
}

.item-list li {
    padding: 10px;
    margin: 5px 0;
    background-color: #1f1f1f;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    word-wrap: break-word;
    color: #21a1f1;
}

.item-list li:hover {
    background-color: #3a3f47;
    transform: scale(1.02);
}

.item-list .selected {
    background-color: #1b7fbd;
    color: #121212;
    transform: scale(1.05);
}
