.button-container {
    display: flex;
    gap: 1px;
}

.option-button {
    background-color: #333;
    color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.option-button:first-of-type {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.option-button:last-of-type {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.option-button:hover {
    background-color: #444;
    transform: scale(1.05);
}

.option-button.selected {
    background-color: #007bff;
}
